---
import Fonts from '../components/Fonts.astro'

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content="https://roadtogenocide.law4palestine.org" />
		<meta property="og:type" content="article" />
		<meta property="og:image" content="https://roadtogenocide.law4palestine.org/open-graph.png">
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">
		<meta property="twitter:image" content="https://roadtogenocide.law4palestine.org/open-graph.png">
		<meta property="twitter:card" content="summary_large_image">
		<link rel="icon" href="/site-icon-32w.png" type="image/png">
		<link rel="apple-touch-icon" href="/site-icon-180w.png">
		<link rel="manifest" href="/manifest.webmanifest">
		<link rel="stylesheet" href="https://use.typekit.net/rwh8tju.css">
		<Fonts />
		<meta name="generator" content={Astro.generator} />
		<script>
			// @ts-nocheck
			var _paq = window._paq = window._paq || [];
			/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
				var u="https://matomo.notthisway.com/";
				_paq.push(['setTrackerUrl', u+'matomo.php']);
				_paq.push(['setSiteId', '6']);
				var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
				g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
			})();
		</script>
	</head>
	<body>
		<slot />
		<svg xmlns="http://www.w3.org/2000/svg">
			<defs>
				<image id="city-bg-1" href="/img/city-bg-1.png" />
				<image id="city-bg-10" href="/img/city-bg-10.png" />
				<image id="city-bg-2" href="/img/city-bg-2.png" />
				<image id="city-bg-3" href="/img/city-bg-3.png" />
				<image id="city-bg-4" href="/img/city-bg-4.png" />
				<image id="city-bg-5" href="/img/city-bg-5.png" />
				<image id="city-bg-6" href="/img/city-bg-6.png" />
				<image id="city-bg-7" href="/img/city-bg-7.png" />
				<image id="city-bg-8" href="/img/city-bg-8.png" />
				<image id="city-bg-9" href="/img/city-bg-9.png" />
				<image id="city-dark-1" href="/img/city-dark-1.png" />
				<image id="city-dark-2" href="/img/city-dark-2.png" />
				<image id="city-dark-3" href="/img/city-dark-3.png" />
				<image id="city-dark-4" href="/img/city-dark-4.png" />
				<image id="city-dark-5" href="/img/city-dark-5.png" />
				<image id="city-fg-1" href="/img/city-fg-1.png" />
				<image id="city-fg-10" href="/img/city-fg-10.png" />
				<image id="city-fg-11" href="/img/city-fg-11.png" />
				<image id="city-fg-12" href="/img/city-fg-12.png" />
				<image id="city-fg-13" href="/img/city-fg-13.png" />
				<image id="city-fg-14" href="/img/city-fg-14.png" />
				<image id="city-fg-15" href="/img/city-fg-15.png" />
				<image id="city-fg-16" href="/img/city-fg-16.png" />
				<image id="city-fg-17" href="/img/city-fg-17.png" />
				<image id="city-fg-18" href="/img/city-fg-18.png" />
				<image id="city-fg-19" href="/img/city-fg-19.png" />
				<image id="city-fg-2" href="/img/city-fg-2.png" />
				<image id="city-fg-20" href="/img/city-fg-20.png" />
				<image id="city-fg-21" href="/img/city-fg-21.png" />
				<image id="city-fg-22" href="/img/city-fg-22.png" />
				<image id="city-fg-23" href="/img/city-fg-23.png" />
				<image id="city-fg-24" href="/img/city-fg-24.png" />
				<image id="city-fg-25" href="/img/city-fg-25.png" />
				<image id="city-fg-26" href="/img/city-fg-26.png" />
				<image id="city-fg-27" href="/img/city-fg-27.png" />
				<image id="city-fg-29" href="/img/city-fg-29.png" />
				<image id="city-fg-3" href="/img/city-fg-3.png" />
				<image id="city-fg-30" href="/img/city-fg-30.png" />
				<image id="city-fg-31" href="/img/city-fg-31.png" />
				<image id="city-fg-32" href="/img/city-fg-32.png" />
				<image id="city-fg-33" href="/img/city-fg-33.png" />
				<image id="city-fg-34" href="/img/city-fg-34.png" />
				<image id="city-fg-35" href="/img/city-fg-35.png" />
				<image id="city-fg-36" href="/img/city-fg-36.png" />
				<image id="city-fg-37" href="/img/city-fg-37.png" />
				<image id="city-fg-38" href="/img/city-fg-38.png" />
				<image id="city-fg-4" href="/img/city-fg-4.png" />
				<image id="city-fg-5" href="/img/city-fg-5.png" />
				<image id="city-fg-6" href="/img/city-fg-6.png" />
				<image id="city-fg-7" href="/img/city-fg-7.png" />
				<image id="city-fg-8" href="/img/city-fg-8.png" />
				<image id="city-fg-9" href="/img/city-fg-9.png" />
				<image id="city-md-1" href="/img/city-md-1.png" />
				<image id="city-md-2" href="/img/city-md-2.png" />
				<image id="city-md-3" href="/img/city-md-3.png" />
				<image id="city-md-4" href="/img/city-md-4.png" />
				<image id="civharm-cemetery" href="/img/civharm-cemetery.png" />
				<image id="civharm-family-remains" href="/img/civharm-family-remains.png" />
				<image id="civharm-frame-1" href="/img/civharm-frame-1.png" />
				<image id="civharm-frame-2" href="/img/civharm-frame-2.png" />
				<image id="civharm-frame-3" href="/img/civharm-frame-3.png" />
				<image id="civharm-orphans" href="/img/civharm-orphans.png" />
				<image id="civharm-rubbish" href="/img/civharm-rubbish.png" />
				<image id="civharm-tree" href="/img/civharm-tree.png" />
				<image id="displacement-arrested" href="/img/displacement-arrested.png" />
				<image id="displacement-brothers" href="/img/displacement-brothers.png" />
				<image id="displacement-family" href="/img/displacement-family.png" />
				<image id="displacement-graves" href="/img/displacement-graves.png" />
				<image id="displacement-people" href="/img/displacement-people.png" />
				<image id="displacement-school-people" href="/img/displacement-school-people.png" />
				<image id="displacement-school" href="/img/displacement-school.png" />
				<image id="displacement-soldier" href="/img/displacement-soldier.png" />
				<image id="displacement-soldiers-1" href="/img/displacement-soldiers-1.png" />
				<image id="displacement-soldiers-watching" href="/img/displacement-soldiers-watching.png" />
				<image id="displacement-soldiers" href="/img/displacement-soldiers.png" />
				<image id="displacement-tent-massacre" href="/img/displacement-tent-massacre.png" />
				<image id="infrastructure-housing" href="/img/infrastructure-housing.png" />
				<image id="infrastructure-rubble" href="/img/infrastructure-rubble.png" />
				<image id="infrastructure-sector-rubble" href="/img/infrastructure-sector-rubble.png" />
				<image id="infrastructure-shifa-1" href="/img/infrastructure-shifa-1.png" />
				<image id="infrastructure-shifa-2" href="/img/infrastructure-shifa-2.png" />
				<image id="infrastructure-shifa-3" href="/img/infrastructure-shifa-3.png" />
				<image id="infrastructure-shifa-graves" href="/img/infrastructure-shifa-graves.png" />
				<image id="infrastructure-shifa-tank" href="/img/infrastructure-shifa-tank.png" />
				<image id="infrastructure-telecoms" href="/img/infrastructure-telecoms.png" />
				<image id="starvation-flour-massacre-civilians" href="/img/starvation-flour-massacre-civilians.png" />
				<image id="starvation-flour-massacre-soldier" href="/img/starvation-flour-massacre-soldier.png" />
				<image id="starvation-food-stocks" href="/img/starvation-food-stocks.png" />
				<image id="starvation-medics" href="/img/starvation-medics.png" />
				<image id="starvation-wck-massacre" href="/img/starvation-wck-massacre.png" />
			</defs>
		</svg>
	</body>
</html>

<style is:global>
	body {
		height: 48000px;
	}
</style>